@charset "UTF-8";
.vid-wrapper{
  width:100%;
  position:relative;
  padding-bottom:56.25%;    /*需要用padding来维持16:9比例,也就是9除以16*/
  height: 0;
  padding-left: 0;
  background-image: url("bilibili.png");
  background-size: 100%;
}
.vid-wrapper video{
  position: absolute;
  top:19%;
  left: 16%;
  width: 68%;
  height: 70%;
  padding: 0;
}


.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 160%;
  background-size: cover;
  background-position: center;
}


.trans{
  position:relative;
  left: 0;
  top: 0%;
  width: 850%;
  height: 300%;
  background-size:cover;
  background-repeat:no-repeat;
  transform: translate3d(0,0,0);
  transition: 0.45s;
  transition-timing-function:ease-in-out;
  -webkit-backface-visibility:hidden;
  opacity: 1;
}

img{
  position: relative;
  width: 100%;
  height: 100%;
}

#bg{
  position: absolute;
  left: 0;
  top: 0%;
  width: 500%;
  height: 200%;
  background-image: url("./test_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  transition-timing-function:ease-in-out;
}

.container {
    /* 滚动容器 */
    padding: 0;
    height: 100%;
    width: 100%;
    perspective: 0;
}

.polygon{
  position: absolute;
  width: 11.7%;
  height: 33.3%;
}

#first{
  left:0%;
  top: 0%;
}

#second{
  left:12%;
  top: 35%;
}

#third{
  left:23.8%;
  top: 45%;
}

div.anim{
  position: absolute;
  left: 0%;
  top:  0%;
  width: 50%;
  height: 50%;
  background-color :blue;
}



html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-questionnaire {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  overflow:hidden;
}
