@charset "UTF-8";
.vid-wrapper{
  width:100%;
  position:relative;
  padding-bottom:56.25%;    /*需要用padding来维持16:9比例,也就是9除以16*/
  height: 0;
  padding-left: 0;
  background-image: url("bilibili.png");
  background-size: 100%;
}
.vid-wrapper video{
  position: absolute;
  top:19%;
  left: 16%;
  width: 68%;
  height: 70%;
  padding: 0;
}

.trans{
  position: absolute;
  left: 0;
  top: 0%;
  width: 500%;
  height: 200%;
  /* background-image: url("wumaru.jpeg"); */
  /* background-size: cover; */
  transition: 0.6s;
  transition-timing-function:ease-in-out;
}

#first{
  position: relative;
  left:0%;
  top: 0%;
  width: 20%;
  height: 50%;
  background-color: yellow;
}

#second{
  position: relative;
  left:20%;
  top: 50%;
  width: 20%;
  height: 50%;
  background-color: blue;
}

#third{
  position: relative;
  left:60%;
  top: 0%;
  width: 20%;
  height: 50%;
  background-color: red;
}

div.anim{
  position: absolute;
  left: 0%;
  top:  0%;
  width: 50%;
  height: 50%;
  background-color :blue;
}
html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow:hidden;


  /* Center slide text vertically */
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;*/
  /*-webkit-box-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
