<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <link rel="stylesheet" href="/stylesheets/swiper/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="/stylesheets/question.css" />
    <script src="/javascripts/polygonTrans.js"></script>
    <script src="/javascripts/moveMotion.js"></script>
  </head>
  <body onload="init()">
    <div class = "swiper-questionnaire">
      <div class="swiper-wrapper">
        <div class="swiper-slide">

            <form id = "1stQ">
              <div class="q1">
              <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q1s1" style="display:none;">
                <label for="q1s1">
                  <img src = "/images/q1s1_c.png" class = "q1s1"></img>
                  <img src="/images/q1s1.png" class="q1s1" ontouchstart = "touchStart(this)" ontouchend="touchEnd(this)"></img>
                </label>
              </input></br>
              <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q1s2" style="display:none;">
                <label for="q1s2">
                  <img src = "/images/q1s2_c.png" class = "q1s2"></img>
                  <img src="/images/q1s2.png" class="q1s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
              </input></br>
              <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q1s3" style="display:none;">
                <label for="q1s3">
                  <img src = "/images/q1s3_c.png" class = "q1s3"></img>
                  <img src="/images/q1s3.png" class="q1s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
              </input></br>
              </div>
            </form>

        </div>
        <div class="swiper-slide">
          <form id = "2ndQ">
            <div class="q2">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q2s1" style="display:none;">
              <label for="q2s1">
                <img src = "/images/q2s1_c.png" class = "q2s1"></img>
                <img src="/images/q2s1.png" class="q2s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q2s2" style="display:none;">
              <label for="q2s2">
                <img src = "/images/q2s2_c.png" class = "q2s2"></img>
                <img src="/images/q2s2.png" class="q2s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q2s3" style="display:none;">
              <label for="q2s3">
                <img src = "/images/q2s3_c.png" class = "q2s3"></img>
                <img src="/images/q2s3.png" class="q2s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "3rdQ">
            <div class="q3">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q3s1" style="display:none;">
              <label for="q3s1">
                <img src = "/images/q3s1_c.png" class = "q3s1"></img>
                <img src="/images/q3s1.png" class="q3s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q3s2" style="display:none;">
              <label for="q3s2">
                <img src = "/images/q3s2_c.png" class = "q3s2"></img>
                <img src="/images/q3s2.png" class="q3s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q3s3" style="display:none;">
              <label for="q3s3">
                <img src = "/images/q3s3_c.png" class = "q3s3"></img>
                <img src="/images/q3s3.png" class="q3s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "4thQ">
            <div class="q4">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q4s1" style="display:none;">
              <label for="q4s1">
                <img src = "/images/q4s1_c.png" class = "q4s1"></img>
                <img src="/images/q4s1.png" class="q4s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q4s2" style="display:none;">
              <label for="q4s2">
                <img src = "/images/q4s2_c.png" class = "q4s2"></img>
                <img src="/images/q4s2.png" class="q4s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q4s3" style="display:none;">
              <label for="q4s3">
                <img src = "/images/q4s3_c.png" class = "q4s3"></img>
                <img src="/images/q4s3.png" class="q4s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "5thQ">
            <div class="q5">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q5s1" style="display:none;">
              <label for="q5s1">
                <img src = "/images/q5s1_c.png" class = "q5s1"></img>
                <img src="/images/q5s1.png" class="q5s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q5s2" style="display:none;">
              <label for="q5s2">
                <img src = "/images/q5s2_c.png" class = "q5s2"></img>
                <img src="/images/q5s2.png" class="q5s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q5s3" style="display:none;">
              <label for="q5s3">
                <img src = "/images/q5s3_c.png" class = "q5s3"></img>
                <img src="/images/q5s3.png" class="q5s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "6thQ">
            <div class="q6">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q6s1" style="display:none;">
              <label for="q6s1">
                <img src = "/images/q6s1_c.png" class = "q6s1"></img>
                <img src="/images/q6s1.png" class="q6s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q6s2" style="display:none;">
              <label for="q6s2">
                <img src = "/images/q6s2_c.png" class = "q6s2"></img>
                <img src="/images/q6s2.png" class="q6s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q6s3" style="display:none;">
              <label for="q6s3">
                <img src = "/images/q6s3_c.png" class = "q6s3"></img>
                <img src="/images/q6s3.png" class="q6s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "7thQ">
            <div class="q7">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q7s1" style="display:none;">
              <label for="q7s1">
                <img src = "/images/q7s1_c.png" class = "q7s1"></img>
                <img src="/images/q7s1.png" class="q7s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q7s2" style="display:none;">
              <label for="q7s2">
                <img src = "/images/q7s2_c.png" class = "q7s2"></img>
                <img src="/images/q7s2.png" class="q7s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q7s3" style="display:none;">
              <label for="q7s3">
                <img src = "/images/q7s3_c.png" class = "q7s3"></img>
                <img src="/images/q7s3.png" class="q7s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            </div>
          </form>
        </div>
        <div class="swiper-slide" id = "shake">

          <button onclick="submitQuestion()"></button>
          请摇晃手机！
        </div>
      </div>
    </div>
  </body>
  <script>
  function init(){
    questionList.push(document.getElementById("1stQ"));
    questionList.push(document.getElementById("2ndQ"));
    questionList.push(document.getElementById("3rdQ"));
    questionList.push(document.getElementById("4thQ"));
    questionList.push(document.getElementById("5thQ"));
    questionList.push(document.getElementById("6thQ"));
    questionList.push(document.getElementById("7thQ"));
  }

  function touchStart(btn){
    // String.prototype.splice = function(start, newStr) {
    //     return this.slice(0, start) + newStr + this.slice(start);
    // };
    // var index = btn.src.indexOf('.png');
    //     str = btn.src.splice(index, '_c');
    //     btn.src=str;
    btn.style.visibility = "hidden";
  }

  function touchEnd(btn){
        // str = btn.src;
        // str = str.replace(/_c/,"");
        // btn.src =str;
        btn.style.visibility = "visible";
  }
  </script>
  <!-- Swiper JS -->
  <script src="/stylesheets/swiper/dist/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
  var swiper_questionnaire = new Swiper(".swiper-questionnaire",{});
  </script>

  <script>
  testeeName = "<%= locals.name %>";
  </script>

  <script>
  function clicked(){

  }
  </script>
</html>
