<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <link rel="stylesheet" href="/stylesheets/mySwiper.css" />
    <link rel="stylesheet" href="/stylesheets/swiper/dist/css/swiper.min.css" />
    <script src="/javascripts/polygonTrans.js"></script>
    <script src="/javascripts/moveMotion.js"></script>
    <title>空箱情报所</title>
  </head>
  <body style="background-color:rgb(200,200,200)" >

<div class="swiper-container">
  <div class="parallax-bg" data-swiper-parallax="-30%"></div>
    <div class="swiper-wrapper" >
      <div class="swiper-slide" data-swiper-parallax="-30%">
        <h1>这是标题</h1>
      </div>
       <div class="swiper-slide" data-swiper-parallax="-30%">
         <video src="/images/test-480.mp4"
         style="width:100%; object-fit: cover; " id="myVideo"
         autoplay="autoplay"
         preload="auto"
         x5-playsinline="true"
         webkit-playsinline="true"
         x-webkit-airplay="allow">aaa</video>
         <canvas id="myCanvas"></canvas>
     </div>
      <div class="swiper-slide" id = "touch" data-swiper-parallax="-30%">
        <form action="/question" method="post">
          输入你的名字：
          <input type="text" name = "name"></input>
          <input type="submit" value = "确认"></input>
        </form>


      </div>
    </div>
</div>


    <script>
    var u = navigator.userAgent;
    var isAndriod = u.indexOf("Android")>-1||u.indexOf("Adr")>-1;
    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
    var video = document.getElementById("myVideo");
    var canvas = document.getElementById("myCanvas");
    video.addEventListener("ended",function(){
     swiper.slideNext();
   });
    if(isAndriod){
      // video.style.display = "none";
      // canvas.show();
    }else{
      // video.show();
      // video.style.display = "none";
      // canvas.style.display = "none";
    }
    // var videoanimate;
    // context = canvas.getContext("2d");
    // context.fillStyle = "#fff";
    // context.fillRect(0,0,canvas.width,canvas.height);
    // function animate(){
    //   context.drawImage(video,0,0,canvas.width,canvas.height);
    //   // alert("huale");
    //   videoanimate = requestAnimationFrame(animate);
    // }
    </script>

    <!-- Swiper JS -->
    <script src="/stylesheets/swiper/dist/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container',{
    direction : 'vertical',
    allowSlidePrev : false,
    parallax : true,
    on : {
      slideChange:function(){
        if(swiper.activeIndex == 1){
          video.play();
          // animate();
        }
      },
    },
    });

    </script>
  </body>
</html>
